{% extends 'manager/help_index.html' %}

{% load bootstrap %}
{% block help-content %}

<div class="col-lg-9 animated fadeInRight">
    <div class="mail-box-header">
        <h2>
            新建文档
        </h2>
    </div>
    <div class="mail-box">
       <!-- <div class="mail-body"> -->
            <form id="ArticleForm" class="form-horizontal" method="post">
                <div class="form-group">
                    <label class="col-sm-2 control-label">主题</label>

                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="name" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">分类</label>
                    <div class="col-sm-8">
                        <select class="form-control" name="category">
                            {% for num in category_info%}
                            <option value="{{ num.id }}">{{ num.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">标签</label>
                    <div class="col-sm-8">
                        <select class="form-control" name="tag">
                            {% for num in tag_info%}
                            <option value="{{ num.id }}">{{ num.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="mail-text">
                    <textarea id="summernote" name="content"></textarea>
                </div>
            </form>
       {% comment %} </div>{% endcomment %}


        <div class="mail-body text-right tooltip-demo">
            <button type="submit" form="ArticleForm" formmethod="post" formaction="{% url 'new_article' %}" class="btn btn-sm btn-primary"  title="保存" ><i class="fa fa-reply"></i> 保存</button>
            <a type="button" class="btn btn-white btn-sm" href="{% url 'help_index' %}" title="放弃"><i class="fa fa-times"></i>放弃</a>
        </div>

    </div>
</div>
<link href="/static/css/plugins/summernote/summernote.css" rel="stylesheet">
<link href="/static/css/plugins/summernote/summernote-bs3.css" rel="stylesheet">
<script src="/static/js/plugins/summernote/summernote.min.js"></script>
<script src="/static/js/plugins/summernote/summernote-zh-CN.js"></script>
<script>
        $(document).ready(function () {
            $('#summernote').summernote({
                lang: 'zh-CN',
                height: 220,
                focus: true,
                maxHeight: null,
                minHeight: null,
            });
        });
</script>
{% endblock %}