{% if is_paginated %}
{% load i18n %}
<div class="pagination pull-right">
    {% if page_obj.has_previous %}
    <li>
        <a href="?page={{ page_obj.previous_page_number }}{{ getvars }}{{ hashtag }}" class="prev">&lsaquo;&lsaquo; {% trans "上一页" %}</a>
    </li>
    {% else %}
    <li>
        <span class="disabled prev">&lsaquo;&lsaquo; {% trans "上一页" %}</span>
    </li>
    {% endif %}
    {% for page in pages %}
        {% if page %}
            {% ifequal page page_obj.number %}
                <li>
                <span class="current page">{{ page }}</span>
                </li>
            {% else %}
                <li>
                <a href="?page={{ page }}{{ getvars }}{{ hashtag }}" class="page">{{ page }}</a>
                </li>
            {% endifequal %}
        {% else %}
            <li><span>...</span></li>
        {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
        <li>
        <a href="?page={{ page_obj.next_page_number }}{{ getvars }}{{ hashtag }}" class="next">{% trans "下一页" %} &rsaquo;&rsaquo;</a>
        </li>
    {% else %}
        <li>
        <span class="disabled next">{% trans "下一页" %} &rsaquo;&rsaquo;</span>
        </li>
    {% endif %}
</div>
{% endif %}