<nav class="navbar navbar-static-top  " role="navigation" style="margin-bottom: 0">

        <div class="navbar-header">

            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>

            <form role="search" class="navbar-form-custom col-lg-4" method="get" action="{% url 'iplookup' %}">

                <div class="form-group"> 

                <input type="text" placeholder="IP归属地查询,搜索..." class="form-control" name="search" id="top-search">

                </div>

            </form>  

        </div>



            <ul class="nav navbar-top-links navbar-right">

                <li>

                    <span class="m-r-sm text-muted welcome-message">
                        <a href="/"  title="返回首页"><i class="fa fa-home"></i></a>
                        欢迎登陆运维管理平台</span>

                </li>

                <li class="dropdown">

                    <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">

                        <i class="fa fa-envelope"></i>  <span class="label label-warning">16</span>

                    </a>

                    <ul class="dropdown-menu dropdown-messages">

                        <li>

                            <div class="dropdown-messages-box">

                                <a href="profile.html" class="pull-left">

                                    <img alt="image" class="img-circle" src="/static/img/a7.jpg">

                                </a>

                                <div class="media-body">

                                    <small class="pull-right">46h ago</small>

                                    <strong>Mike Loreipsum</strong> started following <strong>Monica Smith</strong>. <br>

                                    <small class="text-muted">3 days ago at 7:58 pm - 10.06.2014</small>

                                </div>

                            </div>

                        </li>

                    </ul>

                </li>

                <li class="dropdown">

                    <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">

                        <i class="fa fa-bell"></i>  <span class="label label-primary">8</span>

                    </a>

                    <ul class="dropdown-menu dropdown-alerts">

                        <li>

                            <a href="mailbox.html">

                                <div>

                                    <i class="fa fa-envelope fa-fw"></i> You have 16 messages

                                    <span class="pull-right text-muted small">4 minutes ago</span>

                                </div>

                            </a>

                        </li>

                    </ul>

                </li>

                <li>
                    <a href="{% url 'help_index' %}">
                        <i class="glyphicon glyphicon-question-sign"></i>帮助
                    </a>
                </li>



                <li>

                    <a href="/logout/">

                        <i class="fa fa-sign-out"></i> Log out

                    </a>

                </li>

            </ul>



        </nav>

