{% extends 'base.html' %}
{% load humanize %}
{% block page-content %}
{% include 'nav_cat_bar.html' %}
{# load mytags  #}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{{ header_title }}</h5>
                    <div class="col-lg-1 col-md-offset-8" style="margin-top: -4px;">
                        <input type="text" id="searchid"  placeholder="搜索主机名" name="search_string" style="border: 1px solid #64B779">
                    </div>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#">未启用 1</a>
                            </li>
                            <li><a href="#">未启用 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>

                <div class="ibox-content">
                    <div class="row">
                        <iframe  id="main" height="auto" frameborder="0" scrolling="auto" class="col-lg-12" src=""></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script language="javascript" type="text/javascript">
    $("#main").load(function(){
        var mainheight = $(this).contents().find("body").height()+100;
        $(this).height(mainheight);
});
$(function(){
    var protocol = window.location.protocol;
     if(protocol == 'https:'){
   	 var url = "https://{{ icinga_url}}";
     }else{
    	var url = "http://{{ icinga_url}}";
     }
    $("#main").removeAttr("src").attr("src",url); 
    $("#searchid").keydown(function (event) {
        if(event.keyCode==13){
           var id = $("#searchid").val();
	   var protocol = window.location.protocol;
	   if(protocol == 'https:'){
		var url = "https://{{ status_url }}?search_string=";
	   }else{
		var url = "http://{{ status_url }}?search_string=";
	   }
           $("#main").removeAttr("src").attr("src",url + id);
        }
    });
});
</script>

{% endblock %}
