{% load mytags %}
<table class="table table-hover table-bordered">
    <thead>
    <tr>
        <th class="text-center">地区</th>
        <th class="text-center">平台</th>
        <th class="text-center">服务器地址</th>
        <th class="text-center">区服</th>
        <th class="text-center">状态</th>
        <th class="text-center">日志</th>
        <th class="text-center">更新时间</th>
    </tr>
    </thead>
    <tbody>
        {% for num in status_info %}
            <tr class="text-center">
                <td>{{num.area_name}}</td>
                <td>{{num.platform}}</td>
                <td>{{num.p_ip}}</td>
                <td>{{num.server_name}}</td>
                <td >
                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: {{num.status}}">{{num.status}}</div>
                </td>
                <td>{{num.log}}</td>
                <td>{{num.update_time|print_time}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>